body {
    font-family: "Montserrat";
    text-align: center;
}



h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
}

.container-fluid {
    padding: 7% 15%;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 3rem ;
    line-height: 1.5;
}


p {
    color: 8f8f8f;
}

/* Headings */

.big-heading {
    font-family: "Montserrat-Bold";
    font-size: 3rem ;
    line-height: 1.5;
}

/* Section */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "ubuntu" ;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Download Buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
    text-align: left;
    padding: 3% 15%;
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Features Section */

#features {
    position: realative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin: 1rem;
}

.icon:hover {
    color:#ff4c68;
}

/* testimonials Section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem ;
    line-height: 1.5;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* press Section */

#press {
    background-color: #ef8172;
    padding-bottom: 3% ;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
} 

/* pricing Section*/

#pricing {
    padding: 100px ;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* CTA Section*/

.cta-heading {
    font-family: "Montserrat-Bold";
    font-size: 3.5rem;
    line-height: 1.5;
}

/* footer Section*/

.social-icon {
    margin: 20px 10px;
}